[project]
	description = ndnSIM: NS-3 based NDN simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mr-Norrell
[access "refs/for/refs/*"]
	read = group user/Mr-Norrell
	push = group user/Mr-Norrell
	label-Code-Review = -2..+2 group user/Mr-Norrell
	label-Verified = -1..+1 group user/Mr-Norrell
	rebase = group user/Mr-Norrell
	removeReviewer = group user/Mr-Norrell
	submit = group user/Mr-Norrell
[access "refs/heads/*"]
	read = group user/Mr-Norrell
	create = group user/Mr-Norrell
	push = +force group user/Mr-Norrell
	pushMerge = group user/Mr-Norrell
[access "refs/tags/*"]
	push = +force group user/Mr-Norrell
	pushTag = group user/Mr-Norrell
	pushSignedTag = group user/Mr-Norrell
